*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#111;
}

/* container must exist and show grid properly */
.container{
    width:800px;
    display:flex;
    flex-wrap:wrap;
}

/* IMPORTANT: default color must match test */
.square{
    width:20px;
    height:20px;
    background-color: rgb(29, 29, 29);
    transition: background-color 1s ease;
}

/* hover effect */
.square:hover{
    transition: background-color 0s;
}